# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# miscs
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

mongodb+srv://raviraja2000:<password>@cluster0.eabcdxj.mongodb.net/
Replace <password> with the password for the raviraja2000 user. Ensure any option