.restaurant{
    margin-top: 50px;
    background-color: purple;
}
.card{
    display: flex;
    height: auto;
    width: 500px;
    padding: 10px;
    background-color: violet;
    border-radius: 10px;
}

.rescard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.menuimg{
    height: 100px;
    width: 100px;
}
.rightmenu{
    display: flex;
    flex-direction: column;
}
.leftmenu{
    width: 100%;
    color: black;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: orange;
}
.res-menu{
    height: 100px;
    width: 100px;

}

.res-name{
    display: flex;
    justify-content: center;
    color: green;
}

.res-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 100px;
    width: 100px;
}
.res-card{
    width: auto;
    padding: 20px;
    height: auto;
    background-color: violet;
}
.close{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.go-back{
    text-decoration: none;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .card{
        height: auto;
        width: 300px;
    }
  }