.search-card{
    display: flex;
    height: 150px;
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    background-color: violet;
}
.search-img{
    height: 100px;
    width: 100px;
   
}
.cards-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  .search{
    margin-top: 73px;
    min-height: 100vh;
    background-color: purple;
  }
  .right-search{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 200px;

  }
  .left-search{
    width: 50%;
   
  }
  .search-addbtn{
    height: 30px;
    width: 50px;

  }
  .search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.input-box{
    height: 30px;
    width: 400px;
  }
  .sortprice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  .filter{
    background-color: black;
    color: white;
    height: 18px;
    width: 60px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
   }
